# Directorios generados
build/
.docusaurus/
node_modules/
dist/

# Archivos generados
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración específicos
postcss.config.js
tailwind.config.js 